@font-face {
  font-family: DM Sans;
  font-weight: 400;
  src: url("../assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: DM Sans;
  font-weight: 500;
  src: url("../assets/fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: DM Sans;
  font-weight: 700;
  src: url("../assets/fonts/DMSans-Bold.ttf");
}
