@use "../abstracts/colors";
@use "../abstracts/mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$green-light;
  color: colors.$gray;
  padding: 16px;
  transition: 0.5s;
  height: 75px;

  &--inverted {
    background-color: colors.$green;
  }

  &__title {
    @include mixins.title(20px);
    font-weight: 400;

    span {
      color: colors.$green;
    }

    &--inverted {
      color: colors.$white;

      span {
        color: colors.$white;
      }
    }
  }

  &__button {
    background-color: var(--green-light);

    &--inverted {
      background-color: var(--green);
      filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(225deg)
        brightness(150%) contrast(100%);
    }
  }
}

.header-icon {
  border-top: 2px solid colors.$green;
  width: 20px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: inherit;
    width: 20px;
    height: 2px;
    background: colors.$green;
    margin-top: 5px;
    transition: .6s;
  }

  &--active {
    border-top: transparent;

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
}
